@import "scss/App";
@import "/scss/footer";

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
}
.girl{
  height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.boy{
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.mainFooter{
  background-image: url("img/Pozadina.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
.logo{
  border: 1px solid white;
  height: 5rem;
  width: 8rem;
}
.mail{
  text-decoration: none !important;
  color: white;
}
.icons i{
  color: white !important;
  padding: 0.5rem;
  font-size: 30px;
}
