.about-container{
  display: flex;
  width: 100%;
  background-color: white;
  flex-direction: row;
  margin: 100px 0;
}

.about-container .text,
.about-container .images{
  display: inline-block;
  width: 49%;
}

.about-container .images{
  position: relative;
  height: 35vw;
}

.text-container .header{
     font-family: 'Playfair Display', serif;
     font-size: 7.2rem;
     font-weight: bold;
     text-align: left;
     color: #2e3038;
     margin-top: 0;
     margin-bottom: 30px;
   }

.about-container .circle{
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  background-color: #06aaca;
  position: absolute;
  z-index: 0;
}
   
  

   .paragraph{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 8vw;
    position: relative;
    padding-bottom: 15px;

   }
.paragraph::before{
  content: "";
  width: 65%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.04);
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 8vw;
  
}

.about-container .text{
  position: relative;
  height: 35vw;
}

.text-container{
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

   .about-container .paragraph div{
     width: 100%;
   }
   .about-container .text p{
     font-family: Muli, sans-serif;
     font-weight: normal;
     font-size: 1.8rem;
     line-height: 2.7rem;
     text-align: left;
     color: #8b92ab;
     padding-right: 15px;
     margin-bottom: 20px;
   }

   .about-container .wave-img{
     width: 53px;
     height: 11px;
   }

   .about-container .images img{
     width: 38vw;
     height: auto;
     position: absolute;
     top: 50%;
     transform: translate(-20%, -50%);
     right: 0;
   }

   .button-container{
     padding-left: 52px;
   }
   
@media only screen and (max-width: 1024px) {
  .about-container {
    flex-direction: column;
  }

  .about-container .text,
  .about-container .images {
    width: 90%;
    margin: 0 auto;
  }

  .about-container .header {
    font-size: 3rem;
  }

  .about-container .text {
    height: auto;
    padding-bottom: 30px;
  }

  .about-container .text p {
    font-size: 1.4rem;
  }

  .text-container {
    position: relative;
    top: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .about-container .images {
    height: 50vw;
  }

  .about-container .circle {
    height: 50vw;
    width: 50vw;
  }

  .about-container .images img {
    width: 55vw;
    right: 30vw;
  }
}
