.AddressSection{
  padding-bottom: 4rem;
  .heading{
    padding-left: 3rem;
  }

  .map{
    p{
      text-align: center;
    }
    img{
      height:45vh;
      position: relative;
      right: -5rem;
    }
  }

}
