.AddressSection {

  .heading {
    padding-left: 3rem;
  }

  .map {
    padding-top: 30px;

    p {
      text-align: center;
      padding-bottom: 1rem;
    }

    img {
      position: relative;
      right: -8rem;
      width: 33vw;
    }
  }

}

@media screen and (max-width: 768px) {
  .AddressSection {
    text-align: center;

    .heading {
      padding: 0;
    }

    .map {
      img {
        position: relative;
        right: 0;
        width: 90%;
      }
    }
  }
}
