.main {
  background-image: url("./img/Group\ 101.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  margin-top: -12.5rem;
  padding-top: 7rem;
}

.naslov {
  color: white;
  padding-top: 80px;
  padding-bottom: 20rem;
}

h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px !important;
}

.paragraf {
  padding-top: 20px;
}

.display-4 {
  font-size: 60px !important;
}

button{
  height: 30px;
  width: 100%;
  font-size: 15px !important;
}

