.ContactForm {

  .form-description {

    p {
      padding-left: 15px;
      margin: 0;
    }

    img {
      padding-top: 7px;
    }
  }

  .form-submit {
    width: 21rem;
  }

  .row{
    padding-top: 4rem;
  }

}
