.ContactUs{
  margin-top: 140px;
  display: flex;
  justify-content: space-around;
  .form{
    width: 40%;
  }

  .address{
    width: 35%;
    margin-right: 200px;
    background-color: rgba(0, 0, 0, 0.04);
  }

  h1{
    font-family: 'Playfair Display', sans-serif;
    color: #2e3038;
    font-size: 58px;
    font-weight: bold;
  }

  p{
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color:#8b92ab
  }
}

