
.image img{
    width: 80%;
    display: block;
    margin: 0 auto;
    
   
}
.donation-popup{
    background-color: white;
    

}

.header{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 72px;
    
    

}
.image1{
    position: relative;
}


.image1 img{
    position: absolute;
    top: -980px;
    right: 250px;

}