.girl{
  height: 260px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.boy{
  height: 270px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
 
  .mainFooter{
    background-image: url("img/Pozadina.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
  }
    .logo{
     padding-top: 15px;
   }
    .mail{
      text-decoration: none !important;
      color: white;
    }
   .icons i{
      color: white !important;
      padding: 0.4rem;
      font-size: 30px;
   }
}

@media screen and (max-width:500px){
  .boy, .girl{
    height: 110px;
  }
}