footer {
  position: relative;
  bottom: 0;
  width: 100%;

  .girl {
    height: 260px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: visible;
  }

  .boy {
    height: 270px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: visible;
  }

  .mainFooter {
    background-image: url("img/Pozadina.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 18px;
  }

  .logo {
    padding-top: 15px;
  }

  .mail {
    text-decoration: none !important;
    color: white;
  }

  .icons i {
    color: white !important;
    padding: 0.3rem;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .boy,
  .girl {
    height: 110px;
  }
}

.mail {
  text-decoration: none !important;
  color: white;
}
